{
  "env": {
      "browser": true, // Browser global variables like `window` etc.
      "es6": true, // Enable all ECMAScript 6 features except for modules.
      "jest": true // Jest global variables like `it` etc.
      
  },
  "extends": [
      "airbnb",      
      "react-app",
      "react-app/jest",
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:prettier/recommended",      
      "plugin:jsx-a11y/recommended",
      "plugin:jest/recommended",
      "plugin:import/recommended",
      "plugin:import/errors",
      "plugin:import/warnings"
  ],
  "parserOptions": {
      "requireConfigFile": false,
      "ecmaFeatures": {
        "globalReturn": false,
        "jsx": true
        
      },
      "babelOptions": {
        "configFile": "./babel.config.json"
      },
      "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
      "sourceType": "module" // Allows for the use of imports
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "plugins": ["prettier" , "import", "jsx-a11y"],
  "root": true, // For configuration cascading.
  "parser": "@babel/eslint-parser", // Uses babel-eslint transforms.
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
        {
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }
      ],
      "prettier/prettier": "error",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
      "strict" : ["error","global"],
      "prefer-destructuring":["error",{"array":true, "object":true},{"enforceForRenamedProperties":true}],
      "new-cap": "error",
      "no-invalid-this": "error",
      "prefer-const":"error",
      "func-style":["error", "declaration"],
      "no-new-func":"error",      
      "no-unused-vars": "warn",
      "no-console": "warn",
      "func-names": "warn",
      "no-process-exit": "warn",
      "object-shorthand": "warn",
      "class-methods-use-this": "error",
      "no-param-reassign": "error",
      "no-var": "error",
      "prefer-arrow-callback": "warn",
      "prefer-rest-params": "warn",
      "arrow-parens": ["error", "always"],
      "arrow-body-style": ["error", "as-needed"],
      "no-eval":"error",
      "no-implied-eval":"error",
      "eqeqeq":"error",
      "no-with":"error",
      "no-plusplus":"error",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
        "version": "detect" // Detect react version
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
